<link rel="stylesheet" type="text/css" href="/assets/main.css">
<header>
  <nav>
    <ul>
      {% for page in site.header_pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <div class="header-links">
    <a href="{{ site.github }}">
      <img src="/assets/github.svg" alt="GitHub" width="24" height="24">
    </a>
    <a href="{{ site.linkedin }}">
      <img src="/assets/linkedin.svg" alt="LinkedIn" width="24" height="24">
    </a>
    <a href="{{ site.oden_institute_url }}">
      <img src="/assets/Oden_institute.svg" alt="Oden Institute" width="24" height="24">
    </a>
  </div>
  </header>

    <style>
    .bottom-images {
      text-align: center;
      margin-top: 20px; /* Adjust the margin as needed */
    }

    .bottom-images img {
      max-width: 30%; /* Adjust the width as needed */
      height: auto;
      margin: 0 10px; /* Adjust the margin as needed */
    }
  </style>

</body>
</html>